:root{
    --text-color: #000000;
    --back-color: #F5F5F5;
    --hover-color: #6687E8;
    --title-elements-color: #00B4FF;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000;

    /* Отключаем выделение на сайте */
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1{
    font-size: 52px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}
h2{
    font-size: 32px;
    font-weight: 700;
    margin: 0;
}
h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 43px;
    margin: 0;
}
h4{
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}
p{
    font-size: 14px;
    font-weight: 400;

    line-height: 25px;
    letter-spacing: 1.5px;

    color: #666666; 
    margin: 0;
}
span{
    font-size: 24px;
    font-weight: 400; 
    margin: 0;
}

.grid{
    max-width: 1170px;
    margin: auto;
}
