
/* Отступы сетки по бокам */
@media (max-width: 1600px) and (min-width: 400px){
    .grid {
        margin: 0 auto;
        padding: 0 20px;
    }
}
@media (max-width: 399px) and (min-width: 300px){
    .grid {
        margin: 0 auto;
        padding: 0 15px;
    }
}


/* Portrait tablets and medium desktops */
@media (max-width: 1335px){

}


/* Portrait tablets and small desktops */
@media (max-width: 990px) {
    .main{
        background-image: none;
        height: 100%;
    }
    .header{
        padding: 50px 0 0 0;
    }
    .info-main-image__wrap{
        display: none;
    }
    .info-main-text__wrap{
        width: 100%;
    }
    .info-main_card__wrap{
        width: 70%;
    }
    .nav{
        display: none;
    }

    .galery-image__wrap{
        width: 100%;
    }
    .galery-content__wrap{
        margin-top: 30px;
    }
    .galery__wrap{
        margin: 30px 0 80px 0;
    }

    .specialisation-card{
        width: 48%;
        height: 200px;
    }
    
    .second-review__wrap{
        width: 100%;
    }
    .first-review__wrap{
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-title__wrap{
        width: 100%;
    }
    
}



/* Landscape phones and smaller */
@media (min-width: 150px) and (max-width: 670px){
    .specialisation-card{
        width: 100%;
        height: 200px;
    }

    body{
        font-size: 12px;
    
        /* Отключаем выделение на сайте */
        -moz-user-select: none;
        -webkit-user-select: none;
    }
    
    h1{
        font-size: 32px;
        font-weight: 700;
        line-height: 30px;
        margin: 0;
    }
    h2{
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }
    h3{
        font-size: 18px;
        font-weight: 700;
        line-height: 43px;
        margin: 0;
    }
    h4{
        font-size: 12px;
        font-weight: 800;
        margin: 0;
    }
    p{
        font-size: 12px;
        font-weight: 400;
    
        line-height: 14px;
        letter-spacing: 1.5px;
    
        color: #666666; 
        margin: 0;
    }
    span{
        font-size: 24px;
        font-weight: 400; 
        margin: 0;
    }
}