.footer{
    width: 100%;
    height: 250px;
    background-color: var(--back-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-title__wrap{
    width: 55%;
    color: var(--text-color);
}