.reviews{
    margin-bottom: 100px;
}

.reviews-title__wrap{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 30px;
}
.reviews-title__wrap h3{
    color: var(--title-elements-color);
}

.reviews-content__wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    width: 100%;
}
.second-review__wrap{
    padding: 50px;
    background-color: var(--back-color);

    width: 40%;
    transition: .5s;
}
.first-review__wrap{
    padding: 50px;
    background-color: var(--back-color);

    width: 40%;
    transition: .3s;
}
.second-review__wrap:hover{
    background-color: var(--hover-color);
    color: #fff;
}
.first-review__wrap:hover{
    background-color: var(--hover-color);
    color: #fff;
}

.footer-review{
    margin-top: 150px;
}




